body{
    height:215vh;
    background-color: #FFFFFF;
}
.parent{
    margin-top: 86px;
    flex-direction: column;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.p_1{
    color: #282828;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
header h1{
    color: #282828;
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    font-weight: 600;
}
.firstspan{
    margin-left: 50px;
}
.p_2{
    font-size: 20px;
    color: #5F6980;
    font-weight: 400;
}
.main{
    margin-top: 48px;
   display: flex;
   justify-content: space-between;
}
.maindiv h1{
    margin-top: 16px;
    font-size: 18px;
    color: #282828;
    font-family: 'Inter', sans-serif;
    line-height: 30px;
    font-weight: 600;
}
.maindiv h3{
    font-family: 'Inter', sans-serif;
    color: #3E3E59;
    font-size: 14px;
    line-height: 22px;
    margin-top: 4px;
}
.logo{
    margin-top: 35px;
    gap: 16px;
    display: flex;
}
.boss{
    display: flex;
    justify-content: space-between;
}